n8n/workflows/calcom-webhook.json
{
  "name": "Cal.com Booking Indexer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calcom-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9b1a1f1f-0003-4000-8000-000000000001",
      "name": "Webhook (Cal.com)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "calcom-booking"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst p = body.payload || body || {};\n\nconst title = p.title || (p.eventType && p.eventType.title) || 'Untitled meeting';\nconst start = p.startTime || p.start || '';\nconst end = p.endTime || p.end || '';\nconst attendees = (p.attendees || []).map(a => a.name || a.email || '').filter(Boolean).join(', ');\nconst trigger = body.triggerEvent || 'BOOKING_EVENT';\n\nconst content = `[Cal.com ${trigger}] ${title} | ${start} → ${end}${attendees ? ' | attendees: ' + attendees : ''}`;\nreturn [{ json: { content, trigger, title, start } }];"
      },
      "id": "9b1a1f1f-0003-4000-8000-000000000002",
      "name": "Format booking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://langgraph-agent:8090/api/note",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "={{$env.AGENT_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"source\": \"calcom\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "9b1a1f1f-0003-4000-8000-000000000003",
      "name": "Index to knowledge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://langgraph-agent:8090/api/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "={{$env.AGENT_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify('📅 ' + $('Format booking').first().json.trigger + ': ' + $('Format booking').first().json.title + ' @ ' + $('Format booking').first().json.start) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "9b1a1f1f-0003-4000-8000-000000000004",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"received\": true\n}"
      },
      "id": "9b1a1f1f-0003-4000-8000-000000000005",
      "name": "ACK webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1160, 300]
    }
  ],
  "connections": {
    "Webhook (Cal.com)": {
      "main": [
        [
          {
            "node": "Format booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format booking": {
      "main": [
        [
          {
            "node": "Index to knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Index to knowledge": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Telegram": {
      "main": [
        [
          {
            "node": "ACK webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jakarta"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9b1a1f1f-0003-4000-8000-000000000000"
}
