n8n/workflows/daily-briefing.json
{
  "name": "Daily Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Morning 7AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://calcom:3000/api/bookings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CALCOM_API_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "startTime",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "fetch-calendar",
      "name": "Fetch Today Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.QDRANT_URL }}/collections/tasks/points/scroll",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.QDRANT_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "={\"must\":[{\"key\":\"status\",\"match\":{\"value\":\"pending\"}}]}"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        }
      },
      "id": "fetch-tasks",
      "name": "Fetch Pending Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLM_BASE_URL }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LLM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.LLM_MODEL }}\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"Kamu adalah sekretaris pribadi AI. Buatkan briefing pagi yang ringkas dalam Bahasa Indonesia. Format: jadwal hari ini, pending tasks, dan rekomendasi prioritas.\"},\n    {\"role\": \"user\", \"content\": \"Jadwal: {{ JSON.stringify($('Fetch Today Calendar').item.json) }}\\n\\nPending Tasks: {{ JSON.stringify($('Fetch Pending Tasks').item.json) }}\"}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 1024\n}"
      },
      "id": "ai-briefing",
      "name": "AI Generate Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALLOWED_USERS }}",
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [920, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Every Morning 7AM": {
      "main": [
        [
          { "node": "Fetch Today Calendar", "type": "main", "index": 0 },
          { "node": "Fetch Pending Tasks", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Today Calendar": {
      "main": [
        [{ "node": "AI Generate Briefing", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Pending Tasks": {
      "main": [
        [{ "node": "AI Generate Briefing", "type": "main", "index": 0 }]
      ]
    },
    "AI Generate Briefing": {
      "main": [
        [{ "node": "Send to Telegram", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jakarta"
  }
}
