n8n/workflows/task-reminder.json
{
  "name": "Task Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9,13,17 * * 1-5"
            }
          ]
        }
      },
      "id": "9b1a1f1f-0002-4000-8000-000000000001",
      "name": "Every 4h on weekdays",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://langgraph-agent:8090/api/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "={{$env.AGENT_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"limit\": 50\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "9b1a1f1f-0002-4000-8000-000000000002",
      "name": "Fetch pending tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const tasks = $input.first().json.tasks || [];\nconst highPrio = tasks.filter(t => {\n  const p = (t.payload && t.payload.priority) || '';\n  return p === 'high' || p === 'urgent';\n});\n\nif (highPrio.length === 0) {\n  return [];\n}\n\nconst lines = highPrio.slice(0, 10).map(t => {\n  const p = t.payload || {};\n  return `• [${p.priority || 'medium'}] ${p.title || 'Untitled'}`;\n});\n\nconst text = `🔔 Task reminder (${highPrio.length} high-prio):\\n\\n${lines.join('\\n')}`;\nreturn [{ json: { text, count: highPrio.length } }];"
      },
      "id": "9b1a1f1f-0002-4000-8000-000000000003",
      "name": "Filter high priority",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://langgraph-agent:8090/api/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Agent-Secret",
              "value": "={{$env.AGENT_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.text) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "9b1a1f1f-0002-4000-8000-000000000004",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Every 4h on weekdays": {
      "main": [
        [
          {
            "node": "Fetch pending tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch pending tasks": {
      "main": [
        [
          {
            "node": "Filter high priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter high priority": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jakarta"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9b1a1f1f-0002-4000-8000-000000000000"
}
