n8n/workflows/telegram-router.json
{
  "name": "Telegram Message Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message.text }}",
                    "rightValue": "/jadwal",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Schedule"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message.text }}",
                    "rightValue": "/task",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Task"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message.text }}",
                    "rightValue": "/cari",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ]
              },
              "renameOutput": true,
              "outputLabel": "Search"
            }
          ],
          "fallbackOutput": {
            "renameOutput": true,
            "outputLabel": "Chat"
          }
        }
      },
      "id": "router",
      "name": "Route by Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://openfang:8090/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.body.message.text }}\",\n  \"user_id\": \"{{ $json.body.message.from.id }}\",\n  \"context\": { \"platform\": \"telegram\" }\n}"
      },
      "id": "chat-handler",
      "name": "Forward to OpenFang",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://calcom:3000/api/bookings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CALCOM_API_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "startTime",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "schedule-handler",
      "name": "Get Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.QDRANT_URL }}/collections/tasks/points/scroll",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.QDRANT_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\"must\": [{\"key\": \"status\", \"match\": {\"value\": \"pending\"}}]},\n  \"limit\": 20\n}"
      },
      "id": "task-handler",
      "name": "Get Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ message: $json.response || $json.choices?.[0]?.message?.content || 'OK' }) }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [{ "node": "Route by Command", "type": "main", "index": 0 }]
      ]
    },
    "Route by Command": {
      "main": [
        [{ "node": "Get Schedule", "type": "main", "index": 0 }],
        [{ "node": "Get Tasks", "type": "main", "index": 0 }],
        [{ "node": "Forward to OpenFang", "type": "main", "index": 0 }],
        [{ "node": "Forward to OpenFang", "type": "main", "index": 0 }]
      ]
    },
    "Get Schedule": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    },
    "Get Tasks": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    },
    "Forward to OpenFang": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jakarta"
  }
}
